<div class='window {{container}}'>
	<h1>{{title}}</h1>
	<form action='{{action}}'>
		{{#each fields}}
			{{{this}}}
		{{/each}}
		{{{button}}}
	</form>
	<a class='link' href='/register'>{{Link}}</a>
</div>