<label for="{{name}}" class="label">{{label}}</label>
<input
  id="{{name}}"
  name="{{name}}"
  placeholder="{{placeholder}}"
  value="{{value}}"
  type="{{type}}"
  class="input"
  accept="{{accept}}"
  {{disabled}}
/>
