<div class='dialog dialog_active'>
  <header class='dialog__header'>
    <div class='dialog__user'>
      {{{avatar}}}
      <span>Имя Фамилия</span>
    </div>
    <div class='dialog__menu'>
      <span class='circle'></span>
      <span class='circle'></span>
      <span class='circle'></span>
    </div>
  </header>
  <main class='dialog__main'>
    <span class='dialog__date'>11.07.2022</span>
    <div class='dialog__messages'>
      {{#each messages}}
        <div class='message message_{{who}}'><p
            class='message__text'
          >{{messageText}}</p><time
            class='message__time'
          >{{messageTimestamp}}</time></div>
      {{/each}}
    </div>
  </main>
  <footer class='dialog__footer'>
    {{{form}}}
  </footer>
</div>
