<div id="{{id}}" class='dialog dialog_active'>
  <header class='dialog__header'>
    <div class='dialog__title'>
      <h2 class="title">{{title}}</h2>
    </div>
    <div class='dialog__menu'>
      {{#each menu}}
        {{{this}}}
      {{/each}}
    </div>
  </header>
  <main class='dialog__main'>
    <span class='dialog__date'>{{date}}</span>
    <div class='dialog__messages'>
      {{#each messages}}
        <div class='message message_{{class}}'><p
            class='message__text'
          >{{content}}</p><time
            class='message__time'
          >{{time}}</time></div>
      {{/each}}
    </div>
  </main>
  <footer class='dialog__footer'>
    {{{form}}}
  </footer>
</div>
