<div id="{{id}}" class='dialog dialog-active'>
  <header class='dialog-header'>
    <div class='dialog-title'>
      <h2 class="title">{{title}}</h2>
    </div>
    <div class='dialog-menu'>
      {{#each menu}}
        {{{this}}}
      {{/each}}
    </div>
  </header>
  <main class='dialog-main'>
    <span class='dialog-date'>{{date}}</span>
    <div class='dialog-messages'>
      {{#each messages}}
        <div class='message message-{{class}}'><p
            class='message-text'
          >{{content}}</p><time
            class='message-time'
          >{{time}}</time></div>
      {{/each}}
    </div>
  </main>
  <footer class='dialog-footer'>
    {{{form}}}
  </footer>
</div>
