<div class="profile__sidebar">
  {{{link}}}
</div>
{{{avatar}}}
<div class="name">{{data.first_name}}</div>
<div class="user-data">
  <dl class="list">
    <dt class="label">ID пользователя</dt>
    <dd class="value">{{data.id}}</dd>
    <dt class="label">Логин</dt>
    <dd class="value">{{data.login}}</dd>
    <dt class="label">Имя</dt>
    <dd class="value">{{data.first_name}}</dd>
    <dt class="label">Фамилия</dt>
    <dd class="value">{{data.second_name}}</dd>
    <dt class="label">Телефон</dt>
    <dd class="value">{{data.phone}}</dd>
    <dt class="label">Email</dt>
    <dd class="value">{{data.email}}</dd>
  </dl>
</div>
<div class="links">
  {{{changeAvatar}}}
  {{{changeData}}}
  {{{changePass}}}
  {{{logout}}}
</div>
