<div id='change-password' class='window {{container}}'>
	<div class='avatar'>
		<img src='{{profileAvatar}}' alt='{{data.name}}' /></div>
	<div class='name'>{{profileData.firstName.text}}</div>
	<dl class='list'>
		{{#each profileData}}
			<dt class='label'>{{label}}</dt>
			<dd class='text'>{{text}}</dd>
		{{/each}}
	</dl>
	<a class='btn' href='/profile'>Сохранить</a>
</div>