<div class='window {{container}}'>
	<div class='messages'>
		<a class='link' href='/profile'>Профиль</a>
		<div class='search'>
			{{{input}}}
		</div>
		<div class='list'>
			{{#each people}}
				<a class='message'>
					<div class='avatar'></div>
					<div class='content'>
						<div class='name'>{{name}}</div>
						<div class='last-message'>{{message}}</div>
					</div>
					<time>{{time}}</time>
				</a>
			{{/each}}
		</div>
	</div>
	<div class='chat'>Выберите чат чтобы отправить сообщение</div>
</div>