<div class="chats">
  <div class="col-1">
    {{{profileLink}}}
    {{{addChat}}}
    {{{modal}}}
    <div class="chats__search">
      {{{search}}}
    </div>
    <div class="chat__list">
      {{#each chats}}
        <a id="{{id}}" class="chat__item">
          <div class="chat__avatar"></div>
          <div class="chat">
            <div class="chat__name">{{title}}</div>
            <div class="chat__text">{{message}}</div>
            {{#if unread_count}}
            <span class="count">{{unread_count}}</span>
            {{/if}}
            <time class="chat__time">{{time}}</time>
          </div>
        </a>
      {{/each}}
    </div>
  </div>
  <div class="col-2">
    <div class="chat__dialog">Выберите чат чтобы отправить сообщение</div>
  </div>
</div>
